#header {
    background-color: $color_bg_header;
    width: 100%;
    padding: 24px 0;
    .navbar {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        li {
            margin: 0 16px;
            font-size: 14px;
            line-height: 18px;
            display: flex;
            align-items: center;
            &:last-child {
                margin-right: 0;
            }
            @media (max-width: $xl) {
                font-size: 14px;
                line-height: 18px;
                margin: 0 8px;
            }
            @media (max-width: $lg) {
                font-size: 18px;
                line-height: 22px;
                margin: 10px 8px;
            }
            a {
                padding: 0;
                color: $color_white;
                margin: 0;
                &:hover {
                    color: $color_primary;
                }
            }
        }
    }
    .logo {
        width: auto;
        height: 72px;
        display: block;
    }
    .logo-alt {
        width: auto;
        height: 72px;
        display: none;
    }

    @media screen and (max-width: 992px) {
        .custom-logo {
            height: 40px;
            width: auto;
        }
    }
    &.transparent {
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        box-shadow: none;
        .navbar-brand {
            .logo {
                display: none;
            }
            .logo-alt {
                display: block;
            }
        }
    }
    &.home:not(.fixed-top) {
        background-color: transparent;
        position: absolute;
        z-index: 99;
        padding: 32px 0;
        .navbar-toggler {
            margin: 0;
        }
        .logo {
            width: auto;
            height: 182px;
            display: block;
            @media (max-width: $sm) {
                height: 123.99px;
            }
        }
        .logo-alt {
            width: auto;
            height: 182px;
            display: none;
            @media (max-width: $sm) {
                height: 123.99px;
            }
        }
    }
    &.fixed-top {
        background-color: $color_bg_header;
        position: fixed;
        padding: 10px 0;
        .navbar-brand {
            .logo {
                width: 128px;
                height: 53px;
                display: block;
            }
            .logo-alt {
                width: 128px;
                height: 53px;
                display: none;
            }
        }
    }
}
.navbar-collapse {
    margin-top: 16px;
}

@media (max-width: 992px) {
    .offcanvas-header {
        display: block !important;
    }
    .navbar-collapse {
        margin-top: 0px;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: $color_black;
        transition: visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
        z-index: 99;
        word-break: break-all;
    }
    .navbar-collapse.show {
        visibility: visible;
        transform: translateX(-100%);
    }
}
.navbar-toggler {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    margin: 25px 0;
}

.navbar-toggler-icon {
    background-image: url(../imgs/menu.svg);
    width: 24px;
    height: 19.02px;
    background-size: 24px 19.02px;
}

.btn-close {
    color: $color_white;
    font-size: 40px !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 40px !important;
    line-height: 1 !important;
    height: 40px !important;
    border-radius: 0 !important;
}

body.offcanvas-active {
    overflow: hidden;
}
.offcanvas-header {
    display: none;
}

.whatsapp-flutuante {
    background-image: url(imgs/whatsapp.png);
    background-size: cover;
    background-position: center center;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 5;
    height: 50px;
    width: 50px;
    text-align: center;
    transition: opacity 0.5s;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
    a {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    i {
        color: $color_white;
        font-size: 21px;
        line-height: 21px;
    }
    &:hover {
        opacity: 0.6;
    }
    @media screen and (max-width: $sm) {
        bottom: 20px;
        right: 20px;
    }
}

.header-login {
    margin: 0 0 0 24px;
    padding-inline-start: 0;
    @media (max-width: $md) {
        margin: 24px 0 0 15px;
    }
    li {
        margin: 0 !important;
        list-style: none;
    }
    .btn-login {
        min-width: 160px;
        padding: 11px;
        text-align: center;
        background-color: $color_yellow;
        color: $color_dark;
        border-radius: $border_radius_secondary;
        font-size: 14px;
        line-height: 1;
        border: none;
        font-weight: bold;
        .header-icon-login {
            background-image: url(../imgs/header-icon-login.svg);
            background-size: 14px 15px;
            width: 14px;
            height: 15px;
            display: inline-block;
            margin-right: 5px;
            background-position: center;
        }
    }
}

@media (min-width: $xl) {
    #footer {
        .pll-parent-menu-item {
            margin-left: 40px !important;
            padding: 0 !important;
            a {
                padding: 0 !important;
            }
            .dropdown-menu {
                top: 5px !important;
                left: -12px !important;
            }
        }
    }
}

.pll-parent-menu-item {
    width: fit-content;
    background: #2d392e !important;
    font-size: 10px !important;
    line-height: 1 !important;
    font-weight: bold !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 40px !important;
    height: 40px !important;
    min-width: 117px !important;
    @media (max-width: $sm) {
        width: 140px;
        &.show {
            padding-left: 23px;
        }
    }
    &.show {
        border-top-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        .dropdown-menu {
            display: flex;
        }
    }
    img {
        width: 28px !important;
        height: 28px !important;
        object-fit: cover !important;
        margin-right: 14px !important;
        border-radius: 100% !important;
    }
    .dropdown-toggle::after {
        background-image: url(../imgs/after-drop-down.svg) !important;
        width: 8px !important;
        height: 4px !important;
        background-size: 8px 4px !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        font-size: 0px !important;
        margin-left: 8px;
        margin-bottom: 1px;
    }
    .dropdown-menu {
        background: #2d392e;
        padding: 15px 0 !important;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border: none !important;
        margin-top: -1px !important;
        min-width: 117px !important;
        flex-wrap: wrap;
        justify-content: center;
        @media (max-width: $sm) {
            position: relative;
            margin-left: -117px;
            width: 140px;
        }
        li {
            display: flex;
            padding: 0 !important;
            margin: 0 !important;
            font-size: 10px !important;
            line-height: 1 !important;
            a {
                display: flex !important;
                align-items: center !important;
                &:hover,
                &:focus {
                    background-color: transparent;
                }
            }
            img {
                width: 16px !important;
                height: 16px !important;
                border-radius: 100% !important;
                margin-right: 5px !important;
            }
        }
        .dropdown-item {
            padding: 0 15px !important;
            margin-bottom: 5px !important;
        }
    }
    .current-lang a {
        font-weight: bold !important;
    }
}
